  <!-- features-title-start -->
  <div class="features-title-area pt-80 pb-230" style="background-color: #d34848;" id="about-container">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                <div class="section-title text-center" >
                    
                    <h1 style="color: #f3ee65;">Towards a brighter Diwali!</h1>
                </div>
           </div>
        </div>
    </div>
</div>
<!-- features-title-start -->

<!-- features-area-start -->
<div class="features-03-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 d-flex">
                <div class="features-03-wrapper text-center mb-30">
                    <div class="features-04-icon">
                        <a href="#" onclick="return false;"><i class="fas fa-lightbulb"></i></a>
                     </div>
                     <div class="features-03-text">
                         <h3>What is Raunakh?</h3>
                         <p>Raunakh is a special fundraising event, held annually close to this festival of happiness and lights 
                             - Diwali, to brighten up a few faces for this prosperous occasion</p>
                     </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 d-flex">
                <div class="features-03-wrapper text-center mb-30">
                    <div class="features-04-icon">
                        <a href="#" onclick="return false;"><i class="fas fa-heart"></i></a>
                     </div>
                     <div class="features-03-text">
                         <h3>What does it do?</h3>
                         <p>A charity Fundraiser by Octave Music Society of MSIT in Collaboration with IEEE MSIT and Prakriti MSIT to raise contributions and 
                             help out the disadvantaged and less fortunate citizen celebrate a prosperous, memorable Diwali.</p>
                     </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 d-flex">
                <div class="features-03-wrapper text-center mb-30">
                    <div class="features-04-icon">
                        <a href="#" onclick="return false;"><i class="fas fa-hand-holding-heart"></i></a>
                     </div>
                     <div class="features-03-text">
                         <h3>Why do we do this?</h3>
                         <p>Being compassionate to people who are less privileged, we feel pleased to take up this 
                             noble cause to bring heartwarming smiles just as beautiful as lights of Diwali that are Lit up.</p>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features-area-end -->