 <!-- newsletter-area-start -->
 <div class="newsletter-02-area pt-70 pb-70 bg-warning">
    <div class="container">
        <div class="newsletter-bg">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="newsletters-wrapper mb-30">
                        <div class="newsletter-form newsletter-02-form">
                            <form action="#">
                                <input placeholder="Enter your email" type="email">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="newsletters-wrapper mb-30">
                        <div class="newsletter-form newsletter-02-form">
                            <form action="#">
                                <input placeholder="Password" type="text">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="newsletters-wrapper mb-30">
                        <div class="news-button">
                            <button class="btn" type="submit">Subscribe now <i class="far fa-long-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter-area-start -->


