  <!-- promotect-area-start -->
  <div class="promotect-02-area red-bg pos-rel">
    <div class="promotect-bg-img d-none d-md-block" style="background-image:url(assets/img/bg/bg-11.jpg)">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6">
                <div class="promotect-wrapper promotect-02-wrapper" style="background-image:url(assets/img/icon/icon-4.png)">
                    <div class="promotect-text">
                        <h1>Something knows about volunteer </h1>
                        <p>Aoluta nobis est eligendi optio cumque ni impedit quo minus quod maxime placeat facere possimus, omnis voluptas assumenda omnis dolor repellendus temporibus auquibusdam</p>
                    </div>
                    <div class="promotect-link">
                        <ul>
                            <li>
                                <div class="promotect-2-icon mr-30 f-left">
                                    <i class="far fa-umbrella-beach"></i>
                                </div>
                                <div class="promotect-2-info">
                                    <h3>Very Much Trusted</h3>
                                    <p>Molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</p>
                                </div>
                            </li>
                            <li>
                                <div class="promotect-2-icon mr-30 f-left">
                                    <i class="far fa-heart"></i>
                                </div>
                                <div class="promotect-2-info">
                                    <h3>We Are Friendly</h3>
                                    <p>Molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- promotect-area-end -->
