
   <div id="gallery-container" style="background-color: #1f2529;">
   <div class="section-title text-center mb-35 mr-40 ml-40">
    <h1 class="white-color">Gallery</h1>
  </div>  

<!--Carousel Gallery-->
<div class="carousel-gallery">
  <div class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
                  <div class="image" style="background-image: url('assets/img/gallery/DSC_5001.jpg')">
                      <div class="overlay">
                          <em class="mdi mdi-magnify-plus"></em>
                      </div>
                  </div>
          </div>
          <div class="swiper-slide">
                  <div class="image" style="background-image: url('assets/img/gallery/DSC_5000.jpg')">
                      <div class="overlay">
                          <em class="mdi mdi-magnify-plus"></em>
                      </div>
                  </div>
          </div>
          <div class="swiper-slide">
                  <div class="image" style="background-image: url('assets/img/gallery/DSC_4922.jpg')">
                      <div class="overlay">
                          <em class="mdi mdi-magnify-plus"></em>
                      </div>
                  </div>
          </div>
          <div class="swiper-slide">
                  <div class="image" style="background-image: url('assets/img/gallery/DSC_4903.jpg')">
                      <div class="overlay">
                          <em class="mdi mdi-magnify-plus"></em>
                      </div>
                  </div>
          </div>
          <div class="swiper-slide">
            <div class="image" style="background-image: url('assets/img/gallery/img1.jpg')">
                <div class="overlay">
                    <em class="mdi mdi-magnify-plus"></em>
                </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image" style="background-image: url('assets/img/gallery/img2.jpg')">
                <div class="overlay">
                    <em class="mdi mdi-magnify-plus"></em>
                </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image" style="background-image: url('assets/img/gallery/img3.jpg')">
                <div class="overlay">
                    <em class="mdi mdi-magnify-plus"></em>
                </div>
            </div>
          </div>
      </div>
      <div class="swiper-pagination"></div>
  </div>
</div>
</div>
<!--#Carousel Gallery-->

