<main>
    <!-- slider-start -->
    <div class="slider-area" id="donation-container">
            <div class="single-slider slider-02-height d-flex align-items-center"  data-background="assets/img/slider/slider-2.jpg">
                <div class="container">
                    <div class="row ">
                        <div class="col-xl-6 col-lg-6">
                            <div class="slider-02-text">
                                <div id="timer-heading" class="h3 white-color">The main event starts in</div>
                                <div class="row my-4">
                                        <div id="days" class="col-md-3 col-6 ">
                                            <div class="timer-box">
                                                <p class="timer box particle-text">00</p>
                                                <p class="caption">Days</p>
                                            </div>
                                        </div>
                                        <div id="hours" class="col-md-3 col-6 ">
                                            <div class="timer-box">
                                                <p class="timer box particle-text">00</p>
                                                <p class="caption">Hour</p>
                                            </div>
                                        </div>
                                        <div id="minutes" class="col-md-3 col-6 ">
                                            <div class="timer-box">
                                                <p class="timer box particle-text">00</p>
                                                <p class="caption">Minutes</p>
                                            </div>
                                        </div>
                                        <div id="seconds" class="col-md-3 col-6 ">
                                            <div class="timer-box">
                                                <p class="timer box particle-text">00</p>
                                                <p class="caption">Seconds</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="if-expired" class="box center">
                                      <p>EVENT HAS BEEN STARTED</p>
                                    </div>
                                
                    

      
                                <div class="slider-video">
                                    <a class="popup-video" href="https://www.youtube.com/watch?v=LTXD6XZXc3U"><i class="fas fa-play"></i></a>
                                    <span>Watch Video</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="slid-wrapper mt-50 mb-30">
                                <div class="section-title  mb-40">
                                    <h1 class="text-capitalize">Help us achieve our goal</h1>
                                </div>
                                <form id="volunteer-us-form" class="volunteer-us-form" action="/payment" method="POST">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="volunteer-icon volunteer-email">
                                                <input type="number" step="5" id="donation-amount-input" name="amount" placeholder="Enter Donation amount" />
                                            </div>
                                        </div>
                                        <div class="col-md-12" id="error-donation">
                                            
                                        </div>
                                        <div class="col-md-12">
                                            <div class="volunteer-button">
                                                <button type="submit" class="btn" id="button-donation" onclick=" return validationDonation()" col><b>DONATE <i class="fas fa-hand-holding-heart mx-2"></i></b></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
       </div>
       <!-- slider-end -->