<main>
    <!-- slider-start -->
    <div class="slider-area" id="donation-container">
            <div class="single-slider slider-02-height d-flex align-items-center"  id="particles-js">
                <div class="container particle-container">
                    <div class="row ">
                        <div class="col-12 m-0 p-0 d-lg-block d-none">
                            <div class="row text-center">
                                <!-- ------- -->
                                <!-- COUNTER -->
                                <div class="col-6 big-counter-text"><p><span class="numb" id="don_count1"><%=count%></span> <br><span class="desc"> People donated</span></p></div>
                                <div class="col-6 big-counter-text"><p><span class="rs">₹ </span><span class="numb" id="don_amt1"><%=amount%></span> <br> <span class="desc"> donation Received</span></p></div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <div class="slider-02-text text-center">
                                <div class="row text-center">
                                    <div class="col-12  p-0 d-sm-block d-lg-none" >
                                        <div class="row text-center">
                                            <!-- ------- -->
                                            <!-- COUNTER -->
                                            <div class="col-6 counter-text "><p><span class="numb" id="don_count2"><%=count%></span> <br> <span class="desc"> People donated </span></p></div>
                                            <div class="col-6 counter-text pl-0"><p><span class="rs">₹ </span><span class="numb" id="don_amt2"><%=amount%></span> <br> <span class="desc">donation Received</span></p></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="timer-heading" class="white-color  text-center">event starting in</div>
                                <div class="row my-lg-5 my-0" id="timer-container">
                                        <div id="days" class="col-md-3 col-3 ">
                                            <div class="timer-box text-center">
                                                <p class="timer box particle-text">00</p>
                                                <p class="caption">Days</p>
                                            </div>
                                        </div>
                                        <div id="hours" class="col-md-3 col-3 ">
                                            <div class="timer-box text-center">
                                                <p class="timer box particle-text">00</p>
                                                <p class="caption">Hours</p>
                                            </div>
                                        </div>
                                        <div id="minutes" class="col-md-3 col-3 ">
                                            <div class="timer-box text-center">
                                                <p class="timer box particle-text">00</p>
                                                <p class="caption">Minutes</p>
                                            </div>
                                        </div>
                                        <div id="seconds" class="col-md-3 col-3 ">
                                            <div class="timer-box text-center">
                                                <p class="timer box particle-text">00</p>
                                                <p class="caption">Seconds</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="if-expired" class="box center">
                                      <p>EVENT HAS BEEN STARTED</p>
                                    </div>
                                
                    

      
                                <div class="slider-video" id="live-stream" style="display: none;">
                                    <a class="" href="#" target="_blank"><i class="fas fa-play"></i></a>
                                    <span>Watch Livestream</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <div class="slid-wrapper mt-50 mb-30">
                                <div class="section-title  mb-40 text-center">
                                    <h1 class="text-capitalize mt-0">Help us achieve our goal</h1>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 w-100">
                                        <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_FtnY0qypZyGZ3y"> </script> </form>
                                    </div>
                                </div>
                                <form id="volunteer-us-form" class="volunteer-us-form" action="/payment" method="POST">
                                    <div class="row">
                                        <!-- <div class="col-md-4 pr-md-0">
                                            <input type="button" value="50" class="btn" onclick="add_value(this.value);" />
                                        </div>
                                        <div class="col-md-4">
                                            <input type="button" value="100" class="btn" onclick="add_value(this.value);" />
                                        </div>
                                        <div class="col-md-4 pl-md-0">
                                            <input type="button" value="200" class="btn" onclick="add_value(this.value);" />
                                        </div> -->
                                        
                                        <!-- <div class="col-md-12">
                                            <div class="">
                                                <input type="text" class="text-center" id="donation-amount-input" name="amount" placeholder="Enter Donation Amount" />
                                            </div>
                                        </div> -->
                                        
                                        <div class="col-md-12" id="error-donation">
                                            
                                        </div>
                                        <div class="col-md-12">
                                            <div class="volunteer-button" >
                                                <button type="submit" style="width: 100%;" class="btn" id="button-donation" onclick=" return validationDonation()" col><b>DONATE <i class="fas fa-hand-holding-heart mx-2"></i></b></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
       </div>
       <!-- slider-end -->