<main>
    <!-- slider-start -->
    <div class="slider-area" id="donation-container">
            <div class="single-slider slider-02-height d-flex align-items-center"  data-background="assets/img/slider/slider-2.jpg">
                <div class="container">
                    <div class="row ">
                        <div class="col-xl-6 col-lg-6">
                            <div class="slider-02-text">
                                <h1>Donation is the best humanity</h1>
                                <div class="slider-video">
                                    <a class="popup-video" href="https://www.youtube.com/watch?v=LTXD6XZXc3U"><i class="fas fa-play"></i></a>
                                    <span>Watch Video</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="slid-wrapper mt-180 mb-30">
                                <div class="section-title  mb-40">
                                    <span><i class="far fa-heart-circle"></i> join our team</span>
                                    <h1>Become a volunteer to serve helpless</h1>
                                </div>
                                <form id="volunteer-us-form" class="volunteer-us-form" action="/payment" method="POST">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="volunteer-icon volunteer-email">
                                                <input type="text" id="donation-amount-input" name="amount" placeholder="enter donation amount" />
                                            </div>
                                        </div>
                                        <div class="col-md-12" id="error-donation">
                                            
                                        </div>
                                        <div class="col-md-12">
                                            <div class="volunteer-button">
                                                <button type="submit" class="btn" id="button-donation" onclick="valiationDonation()" col><b>DONATE <i class="fas fa-hand-holding-heart mx-2"></i></b></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
       <!-- slider-end -->

  