<!-- header-start -->
<header class="header-transparent">
    <div id="sticky-header" class="main-menu-area menu-3">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-xl-2 col-lg-3 d-flex align-items-center">
                    <div class="logo logo-2">
                        <a href="/"><img src="/assets/img/logo/raunakh.png" alt="" height="45" width="100"></a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-6">
                    <div class="main-menu text-right">
                        <nav id="mobile-menu">
                            <ul>
                                <li class="active menu-item-1"><a href="#donation-container">home</a></li>
                                <li class="menu-item-2"><a href="#about-container">about</a> </li>
                                <li class="menu-item-3"><a href="#testimonials-container">Testimonials</a></li>
                                <li class="menu-item-4"><a href="#gallery-container">Gallery</a></li>
                                <li class="menu-item-5"><a href="#societies-container">Societies</a></li>
                                <li class="menu-item-6"><a href="#contact-container">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-top-area header-02  d-md-block">
        <div class="container-fluid">
            <!-- TODO: Add socket.io list of top 3... -->

            <p class="marquee h4" id="marquee">
               <span id="marquee_head">Recent Donors: </span> 

                <% donators.forEach( function (donate) { %> 
                   <span style="margin-left: 4em;"> <%= donate.email %> </span> 
                <% }) %>     
            </p>
            
        </div>
    </div>
</header>
<!-- header-end -->