   <!-- team-area-start -->
   <div class="team-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                 <div class="section-title text-center mb-80">
                     
                     <h1>Societies Involved</h1>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="team-wrapper text-center mb-30">
                    <div class="team-img">
                        <img src="assets/img/society/Prakriti4.jpg" alt="">
                        <div class="team-icon">
                            <a href="https://www.facebook.com/msitprakriti/" target=”_blank” tabindex="0"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://in.linkedin.com/company/prakritimsit"target=”_blank”  tabindex="0"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/prakriti_msit/?hl=en"target=”_blank”  tabindex="0"><i class="fab fa-instagram"></i></a>
                           
                        </div>
                    </div>
                    <div class="team-text">
                        <h3>Prakriti MSIT</h3>
                        <span style="color:#D34848">Evironmental & Humanitarian Society</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="team-wrapper text-center mb-30">
                    <div class="team-img">
                        <img src="assets/img/society/octave4.jpg" alt="">
                        <div class="team-icon">
                            <a href="https://www.facebook.com/octave.msit/"target=”_blank”  tabindex="0"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" tabindex="0"><i class="fab fa-linkedin"></i></a>
                            <a href="#" tabindex="0"><i class="fab fa-instagram"></i></a>
                           
                        </div>
                    </div>
                    <div class="team-text">
                        <h3>Octave MSIT</h3>
                        <span style="color:#D34848">Music Society</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="team-wrapper text-center mb-30">
                    <div class="team-img">
                        <img src="assets/img/society/IEEE.png" alt="">
                        <div class="team-icon">
                            <a href="https://www.facebook.com/ieeemsit/" target=”_blank” tabindex="0"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://in.linkedin.com/company/ieeemsit" target=”_blank” tabindex="0"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/ieeemsit/?hl=en"target=”_blank”  tabindex="0"><i class="fab fa-instagram"></i></a>
                           
                        </div>
                    </div>
                    <div class="team-text">
                        <h3>IEEE MSIT</h3>
                        <span style="color:#D34848">Tech Society</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="team-wrapper text-center mb-30">
                    <div class="team-img">
                        <img src="assets/img/society/buzz.jpg" alt="">
                        <div class="team-icon">
                            <a href="https://www.facebook.com/ipubuzz/" target=”_blank” tabindex="0"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.linkedin.com/company/ipubuzz" target=”_blank” tabindex="0"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/ipubuzz/?hl=en" target=”_blank” tabindex="0"><i class="fab fa-instagram"></i></a>
                           
                        </div>
                    </div>
                    <div class="team-text">
                        <h3>IPU BUZZ</h3>
                        <span style="color:#D34848">Social Media Platform</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- team-area-end -->
