 <!-- testimonial-area-start -->
 <div class="testimonial-area pt-130 pb-170" id="testimonials-container">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 offset-lg-3 offset-xl-3">
                 <div class="section-title text-center mb-35 mr-40 ml-40">
                     <h1>Testimonials</h1>
                 </div>
            </div>
        </div>
        <div class="row testimonial-active">
            <div class="col-xl-12">
                <div class="testimonial-wrapper mt-50 mb-50">
                    <div class="client-text">
                        <p>Avoids pleasure itself, because it too pleasure but becaus those who do not know how to pursue pleasure rationall that are extremely ways. </p>
                        <div class="clientsay-name">
                            <div class="client-say-img">
                                <img src="assets/img/testimonial/t-01.png" alt="">
                            </div>
                            <div class="client-say-content">
                                <h4>Antoine Sanders</h4>
                                <span>Seniour Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="testimonial-wrapper mt-50 mb-50">
                    <div class="client-text">
                        <p>Avoids pleasure itself, because it too pleasure but becaus those who do not know how to pursue pleasure rationall that are extremely ways. </p>
                        <div class="clientsay-name">
                            <div class="client-say-img">
                                <img src="assets/img/testimonial/t-02.png" alt="">
                            </div>
                            <div class="client-say-content">
                                <h4>Randall J. Weiner</h4>
                                <span>Software Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="testimonial-wrapper mt-50 mb-50">
                    <div class="client-text">
                        <p>Avoids pleasure itself, because it too pleasure but becaus those who do not know how to pursue pleasure rationall that are extremely ways. </p>
                        <div class="clientsay-name">
                            <div class="client-say-img">
                                <img src="assets/img/testimonial/t-03.png" alt="">
                            </div>
                            <div class="client-say-content">
                                <h4>James S. Watson</h4>
                                <span>Marketing Director</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="testimonial-wrapper mt-50 mb-50">
                    <div class="client-text">
                        <p>Avoids pleasure itself, because it too pleasure but becaus those who do not know how to pursue pleasure rationall that are extremely ways. </p>
                        <div class="clientsay-name">
                            <div class="client-say-img">
                                <img src="assets/img/testimonial/t-01.png" alt="">
                            </div>
                            <div class="client-say-content">
                                <h4>Antoine Sanders</h4>
                                <span>Seniour Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial-area-end -->
