 <!-- testimonial-area-start -->
 <div class="testimonial-area pt-100 pb-130" id="testimonials-container">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 offset-lg-3 offset-xl-3">
                 <div class="section-title text-center mb-35 mr-40 ml-40">
                     <h1>Testimonials</h1>
                 </div>
            </div>
        </div>
        <div class="row testimonial-active">
            <div class="col-xl-12">
                <div class="testimonial-wrapper mt-50 mb-50">
                    <div class="client-text">
                        <p>When I was asked to talk about last year's Raunak, it automatically brought Raunak to my face. As the name goes by, Raunak tends to bring happiness on everyone's face. It was a huge success last year and I hope it's the same this year as well. </p>
                        <div class="clientsay-name">
                            <div class="client-say-content">
                                <h4>Dr. Anupama Kaushik</h4>
                                <span>HoD IT Department ( Morning ), <br> Branch Counsellor - IEEE MSIT</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="testimonial-wrapper mt-50 mb-50">
                    <div class="client-text">
                        <p>Last year's Raunakh was quite a heartwarming experience. First of its kind in our college and I am glad I could be a part of it. A large number of people turned up for donation and supported the cause. All of the money was donated to a orphanage and helped lightening up Diwali for them. </p>
                        <div class="clientsay-name">
                            <div class="client-say-content">
                                <h4>Kriti </h4>
                                <span>Chairperson, IEEE WIE MSIT'2019 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            
            <div class="col-xl-12">
                <div class="testimonial-wrapper mt-50 mb-50">
                    <div class="client-text text-small">
                        <p >Raunakh is a fundraiser event that Octave Music Society and IEEE MSIT organised last year. It was fun filled and awe inspiring. The donation we collected was later used to buy a good meal for young orphan children. The smile on their faces when we met them was heartwarming! Trust me it's gonna melt you as well.
                        </p>
                        <div class="clientsay-name">
                            
                            <div class="client-say-content">
                                <h4> Sanidhya Parashar </h4>
                                <span> Chairperson, IEEE MSIT'2019 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="testimonial-wrapper mt-50 mb-50">
                    <div class="client-text">
                        <p>The Raunakh 2019, organised by Octave, was heartening and gratifying. People were enjoying, singing songs and bonding together, and a lot of people donated for the cause of helping an Orphanage, helping bring smiles on the faces of the kids making their Diwali, special for them. </p>
                        <div class="clientsay-name">
                            
                            <div class="client-say-content">
                                <h4>Pallavv Malhotra</h4>
                                <span>Core Prakriti'2019</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="testimonial-wrapper mt-50 mb-50">
                    <div class="client-text">
                        <p>Raunakh was a really special event last year. The whole idea was to help people who aren't as privileged as we are and I am proud that we pulled it off really well! The musical performance was extremely enjoyable and the fact that we managed to provide a good meal to 50-100 kids from a nearby orphanage, is just incredible. </p>
                        <div class="clientsay-name">
                            
                            <div class="client-say-content">
                                <h4>Brayan Abraham</h4>
                                <span>IEEE ExeCom'2019</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="testimonial-wrapper mt-50 mb-50">
                    <div class="client-text">
                        <p>Raunakh 2019 was a superfun event and students from all branches and batches participated. We all sang songs near the canteen and a lot of students joined in support. The donation collected was later used to buy a good meal for orphan children. The smile on their faces and the sense of fulfillment we felt was amazing. </p>
                        <div class="clientsay-name">
                            
                            <div class="client-say-content">
                                <h4>Sidhant Bhatt</h4>
                                <span>IEEE ExeCom 2019-20</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
        </div>
    </div>
</div>
<!-- testimonial-area-end -->
