<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Raunkah</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/raunakh.png">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/payment.css">
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row ml-auto mr-auto">
        <div class="col-12 text-center">
          <div class="container-box">
            <h3>You are about to donate Rs. <%= amount/100 %></h3>
            <q> <span style="color: rgb(16, 190, 74);">Small actions </span> <span style="color: rgb(102, 58, 16);">X</span> <span style="color: rgb(17, 95, 197);">lots of people</span>  = <span style="color: rgb(221, 54, 54);"> BIG CHANGE</span></q> <br>
            <button id="razorpay-btn" class="payment-button btn btn-yellow">Click here to continue..</button>
          </div>
        </div>
      </div>
    </div>

    <input
      type="hidden"
      id="order_id"
      name="order_id"
      value="<%= order_id %>"
    />
    <input type="hidden" id="amount" name="amount" value="<%= amount %>" />
    <input
      type="hidden"
      id="callbackUri"
      name="callbackUri"
      value="<%= callbackUri %> "
    />
  </body>
  <script src="/javascripts/payment.js"></script>
</html>
