<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raunakh</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/raunakh.png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css>v=1">
</head>
<body>
    <div class="page-wrap d-flex align-items-center justify-content-center" style="min-height: 100vh; background: #f0dede;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center mb-5">
                    <span class="display-1 d-block" style="font-size: 25px;"><q> <span style="color: rgb(16, 190, 74);">Small actions </span> <span style="color: rgb(102, 58, 16);">X</span> <span style="color: rgb(17, 95, 197);">lots of people</span>  = <span style="color: rgb(221, 54, 54);"> BIG CHANGE</span></q> <br>
                </span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-xl-6 paytmqr">
                        <div class="img paytm-qr">
                            <img src="/assets/img/qr.jpeg" alt="">
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6 mt-md-2 mt-xl-5 paytmlink">
                        <h3><a href="https://paytm.me/Wmwl-sw"> or Click here to pay with link</a></h3>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>