<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/logo/raunakh.png"
    />
    <title>Refund Policy</title>
  </head>
  <body>
    <p><strong>Refund Policy</strong></p>

    <p>
      Our policy lasts 24 hours. If 24 hours have gone by since your donation,
      unfortunately, we can’t offer you a refund or exchange.
    </p>

    <p>To complete your return, we require a receipt or proof of purchase.</p>

    <p>
      For further refund queries mail us at-
      <strong
        ><u
          ><a href="mailto:mutants.music.msit@gmail.com" target="_blank"
            >mutants.music.msit@gmail.com</a
          ></u
        ></strong
      >.
    </p>

    <p>
      You may also choose us to contact through the
      <strong>Contact Us</strong> form provided in the donation portal itself.
    </p>
  </body>
</html>
