<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank you</title>
  </head>
  <body>
    <h2>Thank you for paying me..</h2>
    <h4>now i m rich</h4>

    <hr />
    <h6>email:- <%= email %></h6>
    <h6>amount:- <%= amount %></h6>
    <h6>paymentId:- <%= paymentId %></h6>
  </body>
</html>
