<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/thanks.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <title>Thank you</title>
  </head>
  <body>

    <div class="content">
        <div class="wrapper-1">
          <div class="wrapper-2">
            <h1>Thank you for your contribution!</h1>
            <p>Your contribution of <%= currency %> <%= amount %> has been received.</p> <br>
            <p> <q>Giving is not just about making a donation. <br> It is about making a difference.</q> </p>
            <div class="mt-3">
              <a href="/" class="go-back btn btn-warning">
                Learn more about us
              </a>
            </div>
          </div>
      </div>
      </div>

    <input type="hidden" id="donate" name="donate" value="<%= donate %> ">

    <script src="assets/js/bootstrap.min.js"></script> 
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/main.js"></script>  
  </body>
</html>
