<div class= "aboutus my-5">
  <div class="container my-3">
    <p class="about heading">ABOUT US</p>
    <hr class="mb-5">
    <p class="about__content">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
      veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem 
      quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui 
       illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
  </div>
</div>