<div class="donation-bar">
  <div class="inner py-5">
    <div class="my-5">
      <h2 class="mb-3 mt-2">WE ARE VERY THANKFUL</h2>
      <hr class="mb-5">
      <h3 class="my-3">Help Us Reach Our Goal</h3>
      <h1 class="mt-3 mb-5"><i class="fas fa-praying-hands px-2"></i> PLEASE KEEP DONATING <i class="fas fa-praying-hands px-2"></i></h1>
      <div>
        <h5><em>Contributors: 3</em></h5>
        <h2>Total Contribution</h2>
        <h1 class="donation-amount">₹ 159.43</h1>
      </div>
      
      <form action="/payment" method="post">
        <input type="text" name="amount" placeholder="enter donation amount" />
        <button type="submit" class="btn btn-danger btn-lg px-4 py-2">DONATE <i class="fas fa-hand-holding-heart"></i></button>
      </form>
      <div class="text-center"> 
        <% donators.forEach(function(donator){ %>
          <h4><%= donator.email %> donated <%= donator.currency %> <%= donator.amount %> </h4>
        <% }); %>
      </div>
    </div>
    
  </div>
  
</div>