
  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Prakriti MSIT</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
         
          Made with <i class='fab fa fa-heart'></i> by <a href="https://bootstrapmade.com/"> Team Prakriti</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/msitprakriti/" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/prakriti_msit/" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/msitprakriti" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="https://in.linkedin.com/company/prakriti-msit/" target="_blank" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->