<ul class="nav d-flex bd-highlight container" style="max-width: 100%; background-color: #F1F0F2;">
  <li class="nav-item p-2 flex-grow-1 bd-highlight " style="color: #DD2C00; float:inline-start" >made with <i class="fas fa-heart"></i>
   by Team Prakriti 
  </li>
  <li class="nav-item">
    <a class="nav-link p-2 flex-grow-1 bd-highlight" href="https://www.instagram.com/prakriti_msit/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link p-2 bd-highlight" href="https://www.facebook.com/msitprakriti/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link p-2 bd-highlight" href="https://twitter.com/msitprakriti" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link p-2 bd-highlight" href="https://www.linkedin.com/company/prakritimsit" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
  </li>
</ul>