<ul class="nav justify-content-end container">
  <li class="nav-item">
    <a class="nav-link footer-nav" href="#"><i class="fab fa-instagram"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link footer-nav" href="#"><i class="fab fa-facebook-f"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link footer-nav" href="#"><i class="fab fa-twitter"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link footer-nav" href="#"><i class="fab fa-linkedin-in"></i></a>
  </li>
</ul>