
<section class="particle-section" id="particles-js">
  <div class="background">
    <div class="show">
      <div id="heading" class="py-5">The main event starts in</div>
      <div id="container" class="center">
        <div id="days">
          <p class="timer box">00</p>
          <p class="caption">Days</p>
        </div>
        <div id="hours">
          <p class="timer box">00</p>
          <p class="caption">Hour</p>
        </div>
        <div id="minutes">
          <p class="timer box">00</p>
          <p class="caption">Minutes</p>
        </div>
        <div id="seconds">
          <p class="timer box">00</p>
          <p class="caption">Seconds</p>
        </div>
      </div>
      <div id="if-expired" class="box center">
        <p>EVENT HAS BEEN STARTED</p>
      </div>
    </div>
  </div>
</section>

