<div class="background">
  <div id="heading" class="py-5">The main event starts in</div>
<div id="container" class="center">
 
  <div id="days">
    <p class="caption">Days</p>
    <p class="timer box">00</p>

  </div>
  <div id="hours">
    <p class="caption">Hour</p>
    <p class="timer box">00</p>
    
  </div>
  <div id="minutes">
    <p class="caption">Minutes</p>
    <p class="timer box">00</p>
    
  </div>
  <div id="seconds">
    <p class="caption">Seconds</p>
    <p class="timer box">00</p>
   </div>

</div>
<div id="if-expired" class="box center">
  <p>EVENT HAS BEEN STARTED</p>
</div>
</div>